.react-resizable-handle {
    display: block;
    background-color: #37414b;
    background-repeat: no-repeat;
    background-position: 50%;
}

.react-resizable-handle-s {
    height: 10px;
    width: 100%;
    cursor: row-resize;
    background: white;
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

.react-resizable-handle-e {
    width: 10px;
    height: 100%;
    cursor: col-resize;
    background: white;
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;

}

.resize-horizontal {
    display: flex;
    flex-direction: row;
}